.deck {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    border: 1px solid green;
    border-radius: 25px;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card .btn {
    text-decoration: none;
    padding: 15px;
    border: 1px solid black;
}

.card .card-body {
    margin: 25px;
    text-align: center;
}